*{
    margin: 0;
    padding: 0;
}
body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

li,a {
    text-decoration: none;
    list-style: none;
}
nav {
    display: flex;
    /* align-items: center;  */
    margin: 25px 20px
}
line::before {
    content: '';
    left: 0;
    bottom: -10;
    width: 100%;
    height: 3px;
    background-color: #ff2c2c;
}
.logo {
    margin-left: 10px;
    transition: all 0.3s;
}
.logo:hover {
    transform: scale(1.1);
}
.logo img {
    border-radius: 20px;
}

.Performance-Tracking {
    display:block ;
    flex-grow: 1;
    margin-left: 60px;
    cursor: pointer;
}
.Performance-b:hover  {
    transform: scale(1.05);
}
.Performance-b-hover {
    display: flex;
    align-items: center;
}
.Performance-b {
    display: flex;
    transform-origin: center center;
    transition:transform 0.3s ease;
    width: fit-content;    /* เมื่อhover ไปด้านข้าง บรรดทัดนี้จะช่วยคุณ */
}

.Performance-b-box {
    display: block;
    align-items: end;
}
.Performance-b i {
    margin-left: 5px;
    margin-top: 5px;
    transform: rotate(0deg);
    transition: transform 0.3s;
}
.Performance-b.rotate-Performance-b i {
    transform: rotate(90deg);
    transition: transform 0.3s;
}
.Performance-sied-bar {
    display: block;
}
.sied-bar {
    display: flex;
    align-items: center;
    
}
.search-bar-box {
    display: flex;
    align-items: center;
}
.hidden-sied-bar {
    display: none;
}

.text-a a{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    padding: 0 10px;
    margin: 0 30px;
    color: black;
    position: relative;
}
.text-a a:hover {
    color: #2884da;
}
.text-a a::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #2884da;
    transition: all 0.3s;
}
.sied-bar a:hover::before {
    width: 100%;
}
.sied-bar {
    margin-top: 25px;

}
.search-bar {
    
    margin-right: 50px;
    background-color: azure;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    border-radius:30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
} 

.search-bar:hover input {
    width: 200px;
}
.search-bar input {
    width: 0;
    outline: none;
    border:none ;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;  /* หมายถึงการทำให้ พื้นหลังของ element ใสหรือก็คือ ไม่มีสี ไม่มีพื้นหลังใด ๆ */


}

.search-bar i {
    color: rgb(0, 0, 0);
}
.profind img {
    border-radius: 50%;
    margin-right: 20px;
    transition: all 0.4s;
}
.profind :hover {
    transform: scale(1.1);
}
/* text status */
.text-wrapper-main {
    display: flex;
    align-items: center;
    margin: 0 30px;
    justify-content: space-between;
    padding: 0px;
}
.text-wrapper-main h3 {
    color: rgb(0, 0, 0,0.6);
}
.tasks {
    margin-left: 50px;
}
.text-status {
    display: flex;
    gap: 110px;
    align-items: center;
}
.text-status i {
    margin-right: 60px;
    color: rgb(0, 0, 0,0.6);
    margin-top: 10px;
    font-size: 200%;
    transition: all 0.3s;
}
.text-status:hover {
    scale: (1.1);
}

/* end */

/* -------------------------------------------start----------------------------------------------- */
.level-priority {
    display: block;
    padding: 0 90px;
}

.high-priority {
    /* padding: 0 90px; */
    display: block;
    height: max-content;
}

.text-priority:hover .text-priority-hover{
    transform: scale(1.05);
    cursor: pointer;
}
.text-priority {
    transition:transform 0.3s ease;
}
.text-priority-hover {
    display: flex;
    align-items: center;
    transition:transform 0.3s ease;
}  

.text-priority {
    display: flex;
    align-items: center;
}
.text-priority-hover i {
    transform: rotate(0deg);
    transition: transform 0.3s;
}
.text-priority-hover.rotate i {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}
.hidden {
    /* height: 0%; */
    display: none;
    opacity: 0;
    max-height: 0;
}
.Checklist {
    height: 450px;
    margin-left: 25px;
    margin-top: 50px;
    transition: max-height 1s ease, opacity 0.8s ease;
    overflow: hidden;
    opacity: 1;
}
.group {
    margin-bottom: 60px; 
}
.group input {
    margin-right: 30px;
}
.group label {
    font-size: 170%;
    
}
/* ---------------------------------------cg-Checklist --------------------------------- */
input[type="checkbox"] {
    display: none;
}
label {
    position: relative;
    margin-left: 45px;
    user-select: none;
}
label::before {
    content: '';
    background: url(img/pngegg.png);
    background-position: center;
    background-size: contain ;
    width: 32px;
    height: 32px;
    position: absolute;
    left: -35px;

    transform: scale(0); rotateZ (180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01 , 0 , 1.49);
}

input[type="checkbox"]:checked + label::before {
    transform: scale(1); rotateZ (0deg);
}
label::after {
    content: '';
    border: 2px solid #27ae60;
    width: 30px;
    height: 30px;
    left: -35px;
    border-radius: 50%;
    position: absolute;
}
/* --------------------------------------- end-cg-checklist ---------------------------- */

/* ---------------------------------------mid-------------------------------- */
.mid-priority {
    margin-top: 40px;
}

.mid-text-priority:hover .mid-text-priority-hover{
    transform: scale(1.05);
    cursor: pointer;
}
.mid-text-priority {
    transition:transform 0.3s ease;
}
.mid-text-priority-hover {
    display: flex;
    align-items: center;
    transition:transform 0.3s ease;
}  

.mid-text-priority {
    display: flex;
    align-items: center;
}
.mid-text-priority-hover i {
    transform: rotate(0deg);
    transition: transform 0.3s;
    width: fit-content;
}
.mid-text-priority-hover.mid-rotate i {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}
.mid-hidden {
    /* height: 0%; */
    display: none;
    opacity: 0;
    max-height: 0;
}
.mid-Checklist {
    height: 450px;
    margin-left: 25px;
    margin-top: 50px;
    transition: max-height 1s ease, opacity 0.8s ease;
    overflow: hidden;
    opacity: 1;
}
.mid-group {
    margin-bottom: 60px; 
}
.mid-group input {
    margin-right: 30px;
}
.mid-group label {
    font-size: 170%;
}
/* ----------------------label content-------------------------------*/
.editable {
    padding: 5px 20px;
    border: 1px dashed transparent;
    transition: border 0.3s;
    display: inline-block;
    margin-left: 25px;
    font-size: 130%;
    /* user-select: none;  */
    pointer-events: none; /* ❗กันไม่ให้คลิก */
}

.editable:focus {
    outline: none;
    /* border: 1px dashed #888; */
    background-color: #f9f9f9;
}
/* ------------------------------------end-------------------------------------- */

/* ------------------------------------low-------------------------------------- */
.low-priority {
    margin-top: 40px;
}

.low-text-priority:hover .low-text-priority-hover{
    transform: scale(1.05);
    cursor: pointer;
}
.low-text-priority {
    transition:transform 0.3s ease;
}
.low-text-priority-hover {
    display: flex;
    align-items: center;
    transition:transform 0.3s ease;
}  

.low-text-priority {
    display: flex;
    align-items: center;
}
.low-text-priority-hover i {
    transform: rotate(0deg);
    transition: transform 0.3s;
    width: fit-content;
}
.low-text-priority-hover.low-rotate i {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}
.low-hidden {
    /* height: 0%; */
    display: none;
    opacity: 0;
    max-height: 0;
}
.low-Checklist {
    height: 450px;
    margin-left: 25px;
    margin-top: 50px;
    transition: max-height 1s ease, opacity 0.8s ease;
    overflow: hidden;
    opacity: 1;
}
.low-group {
    margin-bottom: 60px; 
}
.low-group input {
    margin-right: 30px;
}
.low-group label {
    font-size: 170%;
}