*{
    margin: 0;
    padding: 0;
}
body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

li,a {
    text-decoration: none;
    list-style: none;
}
nav {
    display: flex;
    align-items: center; 
    margin: 25px 20px
}
line::before {
    content: '';
    left: 0;
    bottom: -10;
    width: 100%;
    height: 3px;
    background-color: #ff2c2c;
}
.logo {
    margin-left: 10px;
    transition: all 0.3s;
}
.logo:hover {
    transform: scale(1.1);
}
.logo img {
    border-radius: 20px;
}

.Performance-Tracking {
    display:block ;
    flex-grow: 1;

    margin-left: 60px;
    cursor: pointer;
}
.Performance-b:hover  {
    transform: scale(1.05);
}
.Performance-b-hover {
    display: flex;
    align-items: center;
}
.Performance-b {
    display: flex;
    transform-origin: center center;
    transition:transform 0.3s ease;
    width: fit-content;    /* เมื่อhover ไปด้านข้าง บรรดทัดนี้จะช่วยคุณ */
}

.Performance-b i {
    margin-left: 5px;
    margin-top: 5px;
    transform: rotate(0deg);
    transition: transform 0.3s;
}
.Performance-b.rotate-Performance-b i {
    transform: rotate(90deg);
    transition: transform 0.3s;
}
.sied-bar {
    display: flex;
    align-items: center;
}

.hidden-sied-bar {
    display: none;
}

.text-a a{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    padding: 0 10px;
    margin: 0 30px;
    color: black;
    position: relative;
}
.text-a a:hover {
    color: #2884da;
}
.text-a a::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #2884da;
    transition: all 0.3s;
}
.sied-bar a:hover::before {
    width: 100%;
}
.sied-bar {
    margin-top: 25px;

}
.search-bar {
    
    margin-right: 50px;
    background-color: azure;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    border-radius:30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
} 

.search-bar:hover input {
    width: 200px;
}
.search-bar input {
    width: 0;
    outline: none;
    border:none ;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;  /* หมายถึงการทำให้ พื้นหลังของ element ใสหรือก็คือ ไม่มีสี ไม่มีพื้นหลังใด ๆ */


}

.search-bar i {
    color: rgb(0, 0, 0);
}
.profind img {
    border-radius: 50%;
    margin-right: 20px;
    transition: all 0.4s;
}
.profind :hover {
    transform: scale(1.1);
}
/* text status */
.text-wrapper-main {
    display: flex;
    align-items: center;
    margin: 0 30px;
    justify-content: space-between;
    padding: 0px;
}
.text-wrapper-main h3 {
    color: rgb(0, 0, 0,0.6);
}
.tasks {
    margin-left: 50px;
}
.text-status {
    display: flex;
    gap: 110px;
    align-items: center;
}
.text-status i {
    margin-right: 60px;
    color: rgb(0, 0, 0,0.6);
    margin-top: 10px;
    font-size: 200%;
    transition: all 0.3s;
}
.text-status:hover {
    scale: (1.1);
}

/* end */

/* start */
.high-priority {
    padding: 0 90px;
}

.text-priority:hover .text-priority-hover{
    transform: scale(1.05);
    cursor: pointer;
}
.text-priority {
    transition:transform 0.3s ease;
}
.text-priority-hover {
    display: flex;
    align-items: center;
    transition:transform 0.3s ease;
}  

.text-priority {
    display: flex;
    align-items: center;
}
.text-priority i {
    transform: rotate(0deg);
    transition: transform 0.3s;
}
.text-priority.rotate i {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}
.hidden {
    /* height: 0%; */
    display: none;
    opacity: 0;
    max-height: 0;
}
.Checklist {
    height: 1000px;
    margin-left: 25px;
    margin-top: 50px;
    transition: max-height 1s ease, opacity 0.8s ease;
    overflow: hidden;
    opacity: 1;
}
.group {
    margin-bottom: 60px; 
}
.group input {
    margin-right: 30px;
}
.group label {
    font-size: 170%;
}
